.CartContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.OrderInscription{
    font-size: 30px;
    margin: 5px;
    color: skyblue;
}

.CartInscription{
    font-size: 20px;
    padding: 5px;
    background-color: coral;
    color: white;
}

.Counterparty{
    padding-left: 35%;
}

.Price{
    font-size: 30px;
    color: skyblue;
}