.paginatorContainer{
    display: flex;
}

.paginator {
    margin: 5px auto;
    align-content: center;
}

.page {
    margin-left: 5px;
    padding: 0 4px;
    cursor: pointer;
    font-size: 20px;
    border-left: 1px solid skyblue;
    border-right: 1px solid skyblue;
    border-radius: 10px ;
}

.page:hover {
    background-color: skyblue;
    color: white;
    transition: 300ms;
}

.currentPage {
    color: coral;
    cursor: default;
    border: none;
}

.currentPage:hover {
    background-color: white;
    color: coral;
    cursor: default;
}