.container{

}

.content{
    background-color: white;
    padding: 1px;
    width: 80vw;
    min-width: 800px;
    margin: 0 auto;
}

.paginator{
    margin: 5px 5px 10px 10px;
}

.page {
    margin-left: 5px;
    padding: 0 4px;
    cursor: pointer;
    border: 1px solid dodgerblue;
}

.page:hover{
    background-color: dodgerblue;
    color: white;
}

.currentPage {
    color: red;
    cursor: default;
}

.currentPage:hover{
    background-color: #DCDCDC;
    color: red;
    cursor: default;
}