h1, h2, h3, h4, h5 {
    display: block;
    margin: 0;
}

a {
    text-decoration: none;
}

.Head {
    height: 60px;
}

.MainContent {
    background-color: #DCDCDC;
    /*background: url("./assets/img/MainContent/background.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}