h1, h2, h3, h4, h5 {
    display: block;
    margin: 0;
}

.App{
    display: grid;
    grid-template-areas: "Header" "MainContent";
    grid-template-rows: 60px 1fr;
}

.MainContent{
    background-color: #DCDCDC;
}