h1, h2, h3, h4, h5 {
    display: block;
    margin: 0;
}

a {
    text-decoration: none;
}

.Head {
    height: 60px;
}

.MainContent {
    background-color: #e8e8e8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}